<body>
    <div class="toDoContainer">
        <h1>Get your JAM ON!</h1>
        <form class="toDoAdder" action="/auth/login" method = "GET">
            
            <input type="submit" value="START" id="btn"
            >
        </form>
  