<body>
    <div class="toDoContainer">
        <h1>Get yourself started on your tasks!</h1>
        <form class="toDoAdder" action="/submit" method = "POST">
            <input type="text" name="task" placeholder="What is the task today?" id="inp">
            <input type="submit" value="Add Task" id="btn"
            >
        </form>
    </div>
</body>