<body>
    <div class="toDoContainer">
        <h1>Get your JAM ON!</h1>
        <form class="toDoAdder" action="/auth/login" method = "GET">
            <input type="text" name="task" placeholder="What's on your mind today?" id="inp" maxlength="30">
            <input type="submit" value="Add to Queue" id="btn"
            >
        </form>
  