@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #8758ff;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.toDoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius:25px;
    width: 50%;
    box-shadow: 0 0 50px 15px #48abe0;
    transition: box-shadow ease 2.5s;
}
h1{
   color: #d2d2df; 
}
.toDoAdder{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 100%;    
}
#inp{
    font-size: 0.6rem;
    background: transparent;
    color: #fff;
    height: 5vh;
    border: solid rgb(85, 54, 144);
    border-radius: 25px;
    padding: 3px;

}
#inp:hover{
    border: 2px dashed rgb(21, 2, 2);
}

#btn{
    align-self: center;
    border: solid rgba(29, 2, 24, 0.601);
    border-radius: 25px;
    height: 35px;
    background-color: #8758ff;
    color: #fff;
    cursor: pointer;
    font-size: .8em;
    width: 20vh;
}

p.query{
    color: #fff;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1rem;
    width: 100%;
}
ul li{
    position: relative;
    height: 7vh;
    width: 100%;
    font-size: 1.8vh;
    list-style: none;
    background-color: #8758ff;
    color: #fff;
    padding: 0.2rem;
    border: 1px solid #e5e5ff;
    border-radius: 10px;
    cursor: pointer;
    
}
ul li:hover{
    opacity: 0.5;
}
ul li img {
    max-height: 100%;
    max-width: 20%;
}
ul li span.sname{
    position: absolute;
    top:1vh;
    margin-left: 1vh;
}
ul li span.dur{
    position: absolute;
    top:2vh;
    right:1vh;
}
.checked {
    text-decoration: line-through;
}