@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #8758ff;
  display: flex;
  justify-content: center;
}
.toDoContainer{
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0 50px 15px #48abe0;
    transition: box-shadow ease 2.5s;
}
.toDoAdder{
    margin-top: 2rem;
    width: 100%;
    align-items: center;
}
#inp{
    width: 75%;
    background: transparent;
    color: #fff;
    height: 35px;
    border: 1px solid rgb(85, 54, 144);
    border-radius: 5px;

}
#inp:hover{
    border: 2px dashed rgb(21, 2, 2);
}

#btn{
    margin-left: 35%;
    width: 29%;
    height: 35px;
    border: none;
    background-color: #8758ff;
    color: #fff;
    cursor: pointer;
    font-size: 90%;
}
h1{
   color: #d2d2df; 
}
ul{
    margin-top: 1rem;
}
ul li{
    list-style: none;
    border-top: 4px;
    background-color: #8758ff;
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    overflow:hidden;

}
.checked {
    text-decoration: line-through;
}